@mixin heading($spacing: 3px, $weight: 400, $case: uppcase) {
   letter-spacing: $spacing;
   font-weight: $weight;
   text-transform: uppercase;
}

@mixin flex(
   $dir: row,
   $justifyContent: center,
   $alignItems: center,
   $gap: 1rem
) {
   display: flex;
   flex-direction: $dir;
   justify-content: $justifyContent;
   align-items: $alignItems;
   gap: $gap;
}

@mixin grid($col: 1fr, $gap: 1rem, $row: unset) {
   display: grid;
   grid-template-columns: $col;
   grid-template-rows: $row;
   gap: $gap;
}

@mixin inputStyle($w: 100%, $p: 1rem, $bgColor: inherit, $border: inherit) {
   width: $w;
   background-color: $bgColor;
   border: $border;
   padding: $p;
   outline: none;
}

@mixin posCenter() {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin square($s: 1rem) {
   height: $s;
   width: $s;
}
